.logo {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 80px;
}

.sidebar {
    position: relative;
    margin-left: 25px;
    width: 250px;
}

.sidebar-border {
    border-right: 2px solid black;
    height: 100%;
    position: absolute;
    top: 5%;
    left: 110%;
}

.bio {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    margin-top: 32px;
    text-align: center;
}

.tagline {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    margin-top: 32px;
    text-align: center;
}

.social-media {
    margin-top: 32px;
    width: 50%;
    margin-left: 50px;
}

.social-media img {
    width: 50px;
    height: 50px;
    float: left;
}

.social-media a {
    text-decoration: none !important;
}


.name {
    font-family: Montserrat, sans-serif;
    font-size: 32px;
    margin-bottom: 32px;
    text-align: center;
}

.container {
    display: flex;
}

.repo-container {
    flex-grow: 1;
    margin-left: 20%;
    width:80%;
}

.repo {
    border: 2px solid black;
    margin-bottom: 10px;
    padding: 15px;
    width: 300px;
    border-radius: 4px;
    text-align: center;
    margin-right: 10px;
    height: 100px;
    float:left;
}

.repo-text {
    font-family: Montserrat, sans-serif;
    text-align: center;
    margin-bottom: 5%;
}

.repo-name {
    padding-top: 80px;
    text-align: center;
    text-decoration: none;
    color: #0366d6;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
}

.repo-desc {
    font-family: Montserrat, sans-serif;
    text-align: center;
    font-size: 14px;
}
